<%= turbo_frame_tag :feedback_body do %>
  <div class="block text-center">
    <div>
      <p class="text-4xl leading-normal font-normal text-gray-900 mb-4">
        🎉
      </p>

      <h1 class="text-2xl text-gray-900 font-semibold leading-normal">
        Thank you for your feedback!
      </h1>

      <p class="text-base text-gray-900 leading-normal font-normal mt-4">
        We appreciate your feedback and will use it to improve our service.
      </p>

      <p class="mt-4 text-gray-900 leading-normal font-normal">
        We hope to see you again soon!
      </p>
    </div>
  </div>
<% end %>
