<%= turbo_frame_tag :modifier_items do %>
  <div class="grid grid-cols-1 gap-4">
    <% if modifier.items_count.positive? %>
      <%= render partial: 'items/row', collection: @items, as: :item %>
      <div class="mt-2">
        <%= render partial: 'components/pagination', locals: { pagy: @pagy } %>
      </div>
    <% else %>
      <div class="text-sm text-gray-500 leading-normal text-center">
        Nothing here yet
      </div>
    <% end %>
  </div>
<% end %>
