<span
  class="pill pill-blue"
>
  <%= t('orders.statuses.label.ready') %>
  <span class="ml-2 text-blue-900 leading-normal">
    <%= icon(Rails.application.config.fa_style, 'check') %>
  </span>
</span>
