<span
  class="pill pill-orange"
>
  <%= t('orders.statuses.label.submitted') %>
  <span class="ml-2 text-orange-900 leading-normal">
    <%= icon(Rails.application.config.fa_style, 'arrow-turn-down-left') %>
  </span>
</span>
