<div class="p-6 text-center">
  <%= icon(
    "#{Rails.application.config.fa_style} fa-solid fa-spin", 'spinner-third', class: 'text-gray-500 mr-2'
  ) %>
  <span class="text-sm text-gray-500 leading-normal font-normal">
    <%= t('loading.title') %>
  </span>
</div>
