<% content_for :title, 'Menus' %>
<% content_for :heading, 'Menus' %>
<% buttons = [
  link_to(new_menu_path, class: 'btn btn-primary', data: { turbo_frame: :modal }) do
    icon(Rails.application.config.fa_style, 'plus', class: 'mr-2') + 'Add menu'
  end
] %>

<%= render layout: 'layouts/menu' do |f| %>
  <%= render partial: 'menus/header', locals: { buttons: } %>

  <div class="block">
    <div class="content">
      <%= render partial: 'menus/menus', locals: { menus: @menus } %>

      <div class="mt-8">
        <%= render partial: 'components/pagination', locals: { pagy: @pagy } %>
      </div>
    </div>
  </div>
<% end %>
