<% if menu_category.items&.size&.positive? %>
  <div
    class="grid grid-cols-1 gap-4"
    data-controller="sortable"
    data-sortable-handle-value="#tickleMe"
    data-sortable-animation-value="150"
  >
    <%= render partial: 'menus/menu_categories/menu_category_item',
      collection: menu_category.menu_category_items.includes(
        [item: [{ photo_attachment: :blob }]]
      ).order(:position),
      locals: { menu:, menu_category: }
    %>
  </div>
<% else %>
  <%= turbo_frame_tag "#{menu_category.prefix_id}_empty_state" do %>
    <%= render partial: 'components/empty_state', locals: {
      icon: 'tag',
      title: 'No items',
      description: 'You have not added any items to this category yet. We will not show this category on your menu until you add at least one item.',
      buttons: [
        link_to(
          'Add first item',
          menu_menu_category_items_path(menu, menu_category),
          class: 'btn btn-primary',
          data: { turbo_frame: :modal }
        )
      ]
    } %>
  <% end %>
<% end %>
