<div class="block">
  <div class="content">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
      <%= render partial: 'storefront/locations/location', collection: locations %>
    </div>
  </div>
</div>
