<% content_for :title, option.item&.name %>
<% content_for :heading, option.item&.name %>

<%= render layout: 'layouts/modal', locals: {
  width_class: 'md:max-w-[540px]',
  position_class: 'items-center',
  height_class: 'h-auto'
} do |f| %>
  <div class="block">
    <%= render partial: 'form', locals: { option:, modifier: } %>
  </div>
<% end %>
