<% content_for :title, @item.name %>
<% content_for :heading, @item.name %>

<%= render layout: 'layouts/modal', locals: {
  width_class: 'md:max-w-[540px]',
  position_class: 'items-center',
  height_class: 'h-auto'
} do |f| %>
  <div class="block">
    <%= render 'form', item: %>
  </div>
<% end %>
