<% content_for :title, 'New item' %>
<% content_for :heading, 'New item' %>

<%= render layout: 'layouts/modal', locals: {
  width_class: 'md:max-w-[540px]',
  position_class: 'items-center',
  height_class: 'h-auto'
} do |f| %>
  <div class="block">
    <%= render partial: 'menus/menu_categories/menu_category_items/form', locals: {
      menu_category_item:,
      url: menu_menu_category_menu_category_items_path(menu, menu_category)
    } %>
  </div>
<% end %>
