<div class="p-4">
  <div class="flex flex-col items-center justify-center text-center">
    <div class="text-2xl text-blue-600 leading-normal">
      <%= icon(Rails.application.config.fa_style, 'megaphone') %>
    </div>
    <div class="mt-4">
      <p class="text-blue-600 leading-normal text-base font-medium">
        Thanks for your time
      </p>
    </div>
    <div class="mt-1">
      <p class="text-sm text-gray-500 leading-normal font-normal">
        Your feedback improves GONA.
      </p>
    </div>
    <div class="mt-6">
      <p class="text-xs text-gray-500 leading-normal font-normal">
        The GONA Team
      </p>
    </div>
  </div>
</div>
