<% content_for :title, location.name %>

<div class="m-intro">
  <div class="content-md">
    <div class="card">
      <div class="card-body">
        <%= render partial: 'locations/form', locals: { location: } %>
      </div>
    </div>
  </div>
</div>
